@model IEnumerable<Projeto.Web.Models.TimeModelConsulta>

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/Layou.cshtml";
}

<div class="container" style="text-align:center">
    <h3>Lista de Times</h3>
    <br />
</div>

<div class="container">
    
    <table class="table table-hover" style="text-align:center">
        <tr>
            <th style="text-align:center">
                Código
            </th>
            <th style="text-align:center">
                Nome
            </th>
            <th style="text-align:center">
                Data de Fundação
            </th>
            <th style="text-align:center">
                Opções
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFundacao)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.IdTime }) |
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.IdTime })
                </td>
            </tr>
        }

    </table>
</div>
<div class="container">
    @ViewBag.Mensagem
</div>
