@model IEnumerable<Projeto.Web.Models.JogadorModelConsulta>

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/Layou.cshtml";
}

<div class="container" style="text-align:center">
    <h3>Lista de Jogadores</h3>
    <br />
</div>

<div class="container">

    <table class="table" style="text-align:center">
        <tr>
            <th style="text-align:center">
                Código
            </th>
            <th style="text-align:center">
                Nome
            </th>
            <th style="text-align:center">
                Apelido
            </th>
            <th style="text-align:center">
                Data de Nascimento
            </th>
            <th style="text-align:center">
                Posição
            </th>
            <th style="text-align:center">
                Time
            </th>
            <th style="text-align:center">
                Opções
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdJogador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apelido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posicao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.IdJogador }) |
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.IdJogador })
                </td>
            </tr>
        }

    </table>
</div>

<div class="container">
    @ViewBag.Mensagem
</div>